# =========================
# Miscellaneous
# =========================
*.class
*.log
*.pyc
*.swp
*.backup
.DS_Store
Thumbs.db
temp_deps.txt

.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
logs/

# =========================
# IDE / Editor Related
# =========================
# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# =========================
# Flutter / Dart / Pub
# =========================
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.packages

# Flutter build output
/build/
build/

# =========================
# Symbolication / Obfuscation
# =========================
app.*.symbols
app.*.map.json

# =========================
# Android
# =========================
android/.gradle/
android/**/build/
android/local.properties

# Android Studio build variants
/android/app/debug
/android/app/profile
/android/app/release

# =========================
# iOS / macOS / Windows
# =========================
ios/Pods/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
